
body {
  background-color: #72CECA;
  color: BLACK;
  font-family: 'abril fatface', sans-serif;
}

<div style="clear: both">
    <h2 style="float: left">Exercises</h2>
    <h2 style="float: right">Projects</h2>
</div>
<hr />
